pm_target_node = "pve1"
pm_vm_template = "ubuntu-24.04-template"
pm_vmid_start = 200
pm_tls_insecure = false
pm_parallel = 3

cicustom = "vendor=local:snippets/qemu-guest-agent.yml"

k3s_server_num = 1
k3s_server_cores = 2
k3s_server_memory = 4096
k3s_server_storage = "50G"

k3s_agent_num = 2
k3s_agent_cores = 2
k3s_agent_memory = 2048
k3s_agent_storage = "25G"

emulatessd = true
discard = true
tag = 20
